<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Outputs</title>
</head>
<body>
{% if perms.analytics.add_financialentry%}
    <form method="POST" action="{% url 'outputs' %}">
        {% csrf_token %}
        <input type="number" name="amount" placeholder="amount" required>
        <input type="text" name="source" placeholder="Source" required>
        <select name="location_id">
            <option value="" disabled selected>Select Location</option>
            {% for location in locations %}
                <option value="{{ location.id }}">
                    {{ location.name }}
                </option>
            {% endfor %}
        </select>
        <input type="text" name="notes" placeholder="Notes">
        <button type="submit">Save Entry</button>
    </form>
{% endif %}
</body>
</html>